@charset "UTF-8";

@use "abstracts/variables";
@use "abstracts/functions";
@use "abstracts/mixins";

@use "base/reset";
@use "base/typography";

@use "layout/grid";
@use "layout/header";
@use "layout/footer";

@use "components/buttons";
@use "components/hero";
@use "components/cards";
@use "components/forms";

@use "pages/home";
@use "pages/catalog";
@use "pages/details";
@use "pages/enrollment";