</main>
    <footer class="site-footer" style="background-color: #002566; color: white;">
        <div class="container">
            <div class="footer-left">
                <a href="/" class="logo" aria-label="Discendi - Back to Home">
                    <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.04919 30.2083H14.2292M3.04919 15.9452H43.2874M18.8334 34.5438V47.6121M32.4541 23.1667C32.4541 11.2002 28.2963 1.5 23.1678 1.5C18.0393 1.5 13.8825 11.2002 13.8825 23.1667C13.8825 25.6313 14.0591 28.0005 14.3841 30.2083" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M44.5918 26.4167C44.7521 25.355 44.8326 24.2717 44.8333 23.1667C44.8333 11.2002 35.1332 1.5 23.1667 1.5C11.2002 1.5 1.5 11.2002 1.5 23.1667C1.5 31.6264 6.34792 38.953 13.4167 42.5204" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.9232 36.1212C18.4672 35.4647 18.4672 33.6241 19.9232 32.9676C21.5687 32.2298 23.2279 31.523 24.9 30.8475C28.2746 29.4771 30.7099 28.5963 32.2082 28.085C33.3699 27.6866 34.6312 27.6866 35.7929 28.085C37.2901 28.5963 39.7254 29.4771 43.1 30.8475C44.7722 31.5234 46.4318 32.2303 48.0779 32.9676C49.5339 33.6241 49.5339 35.4647 48.0779 36.1212C46.432 36.859 44.7724 37.5658 43.1 38.2413C39.7265 39.6117 37.2901 40.4924 35.7929 41.0037C34.6309 41.4024 33.3691 41.4024 32.2071 41.0037C30.711 40.4924 28.2746 39.6117 24.9 38.2413C23.2276 37.5658 21.568 36.859 19.9221 36.1212" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.7916 38.1968V41.5411C24.7916 43.2614 24.862 44.4769 24.9465 45.3154C25.057 46.4226 25.6832 47.3662 26.6983 47.8212C28.072 48.4387 30.4488 49.1688 34 49.1688C37.5511 49.1688 39.928 48.4376 41.3016 47.8212C42.3156 47.3662 42.9429 46.4226 43.0534 45.3154C43.1379 44.4769 43.2083 43.2614 43.2083 41.5411V38.1968" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="logo-text">Discendi</span>
                </a>
                <div>
                    <ul class="social-links">
                        <li>
                            <a href="#" aria-label="Facebook">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M18 2H15C13.6739 2 12.4021 2.52678 11.4645 3.46447C10.5268 4.40215 10 5.67392 10 7V10H7V14H10V22H14V14H17L18 10H14V7C14 6.73478 14.1054 6.48043 14.2929 6.29289C14.4804 6.10536 14.7348 6 15 6H18V2Z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="LinkedIn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"/>
                                    <path d="M6 9H2V21H6V9Z"/>
                                    <path d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="YouTube">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 5C16.19 5 18.8001 5.16043 19.8301 5.44043C20.7299 5.69044 21.3096 6.27009 21.5596 7.16992C21.6896 7.63992 21.7798 8.27031 21.8398 9.07031C21.9098 9.87019 21.9404 10.5602 21.9404 11.1602L22 12C22 14.19 21.8396 15.8001 21.5596 16.8301C21.3096 17.7299 20.7299 18.3096 19.8301 18.5596C19.3601 18.6896 18.4997 18.7798 17.1797 18.8398C15.8798 18.9098 14.6898 18.9404 13.5898 18.9404L12 19C7.81 19 5.19992 18.8396 4.16992 18.5596C3.27009 18.3096 2.69044 17.7299 2.44043 16.8301C2.31043 16.3601 2.22016 15.7297 2.16016 14.9297C2.09017 14.1298 2.05957 13.4398 2.05957 12.8398L2 12C2 9.81 2.16043 8.19992 2.44043 7.16992C2.69044 6.27009 3.27009 5.69044 4.16992 5.44043C4.63992 5.31043 5.50031 5.22016 6.82031 5.16016C8.12019 5.09017 9.31024 5.05957 10.4102 5.05957L12 5ZM10 15L15.1904 12L10 9V15Z" fill="white"/>
                                </svg>

                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Instagram">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <p data-i18n-key="footer.copyright">
                        © 2025 Discendi. All rights reserved.
                    </p>
                </div>
            </div>
            <div class="footer-right">
                <address>
                    <div>
                        Email:
                        <a href="mailto:taran.maksym@lll.kpi.ua">taran.maksym@lll.kpi.ua</a>
                    </div>
                    <div>
                        Phone:
                        <a href="tel:+380999431300">+380999431300</a>
                    </div>
                </address>
                <nav aria-label="Footer Navigation">
                    <p data-i18n-key="footer.quickNav">
                       Quick Navigation: <br>
                    </p>
                    <ul>
                        <li>
                            <a href="/" data-i18n-key="footer.quickNav.home">Home</a>
                        </li>
                        <li>
                            <a href="/courses" data-i18n-key="footer.quickNav.courses">Courses</a>
                        </li>
                    </ul> 
                </nav>
            </div>
        </div>

    </footer>
<script src="/js/script.js"></script>
</body>
</html>