<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle || 'Discendi' %></title>
    <link rel="icon" href="/images/iconsite.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header class="site-header" style="background-color: #002566 ;">
        <div class="container header-flex">
            
            <a href="/" class="logo" aria-label="Discendi - Back to Home">
                <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.04919 30.2083H14.2292M3.04919 15.9452H43.2874M18.8334 34.5438V47.6121M32.4541 23.1667C32.4541 11.2002 28.2963 1.5 23.1678 1.5C18.0393 1.5 13.8825 11.2002 13.8825 23.1667C13.8825 25.6313 14.0591 28.0005 14.3841 30.2083" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M44.5918 26.4167C44.7521 25.355 44.8326 24.2717 44.8333 23.1667C44.8333 11.2002 35.1332 1.5 23.1667 1.5C11.2002 1.5 1.5 11.2002 1.5 23.1667C1.5 31.6264 6.34792 38.953 13.4167 42.5204" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.9232 36.1212C18.4672 35.4647 18.4672 33.6241 19.9232 32.9676C21.5687 32.2298 23.2279 31.523 24.9 30.8475C28.2746 29.4771 30.7099 28.5963 32.2082 28.085C33.3699 27.6866 34.6312 27.6866 35.7929 28.085C37.2901 28.5963 39.7254 29.4771 43.1 30.8475C44.7722 31.5234 46.4318 32.2303 48.0779 32.9676C49.5339 33.6241 49.5339 35.4647 48.0779 36.1212C46.432 36.859 44.7724 37.5658 43.1 38.2413C39.7265 39.6117 37.2901 40.4924 35.7929 41.0037C34.6309 41.4024 33.3691 41.4024 32.2071 41.0037C30.711 40.4924 28.2746 39.6117 24.9 38.2413C23.2276 37.5658 21.568 36.859 19.9221 36.1212" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M24.7916 38.1968V41.5411C24.7916 43.2614 24.862 44.4769 24.9465 45.3154C25.057 46.4226 25.6832 47.3662 26.6983 47.8212C28.072 48.4387 30.4488 49.1688 34 49.1688C37.5511 49.1688 39.928 48.4376 41.3016 47.8212C42.3156 47.3662 42.9429 46.4226 43.0534 45.3154C43.1379 44.4769 43.2083 43.2614 43.2083 41.5411V38.1968" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="logo-text">Discendi</span>
            </a>

            <nav class="main-nav" aria-label="Main navigation">
                <ul class="nav-list">
                    <li>
                        <a href="/courses" class="nav-link" data-i18n-key="header.courses">
                            Courses
                        </a>
                    </li>
                    
                    <li>
                        <a href="/login" class="nav-link" data-i18n-key="header.login">
                            Log in
                        </a>
                    </li>
                    
                    <li>
                        <a href="/signup" class="btn btn-primary" data-i18n-key="header.signup">
                            Sign up
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>


