$color-hero: #00338e;
$color-dark: #002c78;
$color-light: #f9f9f9;
$color-white: #ffffff;
$color-primary: #0ea5e9;
$color-cta: #facc15;
$color-black: #000000;
$color-border: #d1d5db;

$font-primary: "Inter", sans-serif;
$font-secondary: "Roboto", sans-serif;

$container-width: 1320px;

$bp-tablet: 768px;
$bp-desktop: 1200px;
