@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

body {
    font-family: v.$font-primary;
    color: v.$color-black;
    font-size: 16px;

    @include m.mobile {
        font-size: 15px;
    }
}