@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.catalog-section {
    
    .container {
        display: flex;
        gap: f.rem(40);
        align-items: flex-start;

        @include m.mobile {
            flex-direction: column; 
            gap: f.rem(30);
        }
    }

    .catalog-sidebar {
        width: f.rem(280);
        flex-shrink: 0;

        fieldset {
            border: none;
            padding: 0;
            margin: 0 0 f.rem(30) 0;
        }

        legend {
            @include m.text-style(18px, 600, v.$color-black, v.$font-secondary);
            margin-bottom: f.rem(15);
            display: block;
            width: 100%;
            border-bottom: 1px solid v.$color-border;
            padding-bottom: f.rem(10);
        }

        label {
            display: flex;
            align-items: center;
            gap: f.rem(10);
            margin-bottom: f.rem(8);
            cursor: pointer;
            @include m.text-style(16px, 400, v.$color-black, v.$font-secondary);
            &:hover {
                color: v.$color-primary;
            }
        }

        @include m.mobile {
            width: 100%;
            border-bottom: 1px solid v.$color-border;
            padding-bottom: f.rem(20);
        }
    }

    .catalog-content {
        flex-grow: 1;
        width: 100%;
    }

    .sort-bar {
        display: flex;
        align-items: center;
        gap: f.rem(15);
        margin-bottom: f.rem(30);
        flex-wrap: wrap;

        span {
            font-weight: 600;
            margin-right: f.rem(5);
        }
    }

    .courses-grid-list {
        @include m.row;
        row-gap: f.rem(30);

        .grid-col {
            @include m.col(4);

            @include m.tablet {
                @include m.col(6);
            }

            @include m.mobile {
                @include m.col(12);
            }
        }

        .course-card-item {
            height: 100%;
        }
    }
}