@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;



.form-group {
    margin-bottom: f.rem(20);

    label {
        display: block;
        margin-bottom: f.rem(8);
        @include m.text-style(16px, 500, v.$color-black, v.$font-primary);
        span{
            color: red;
        }
    }

    input {
        max-width: f.rem(500);
        width: 100%;
        padding: f.rem(12) f.rem(16);
        @include m.text-style(16px, 500, v.$color-black, v.$font-secondary);
        
        background-color: v.$color-white;
        border: 1px solid v.$color-border;
        border-radius: 12px;
        
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &::placeholder {
            color: #6B7280;
            opacity: 0.7;
        }

        &:focus {
            outline: none;
            border-color: v.$color-primary;
            box-shadow: 0 0 0 4px f.tint(v.$color-primary, 85%);
        }
    }
}


.course-search-form {
    max-width: f.rem(600);
    width: 100%;

    margin: 0 auto;

    .search-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .search-icon {
            position: absolute;
            left: f.rem(16);
            color: #6B7280;
            pointer-events: none;
            width: 20px;
            height: 20px;
            }

        .search-input {
            height: f.rem(45);
            width: 100%;
            padding: f.rem(14) f.rem(20);
            padding-left: f.rem(48);
            
            border: none;
            border-radius: f.rem(8);
            font-size: f.rem(16);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            
            &:focus {
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

