@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;


//HOME HERO
.hero-section {
    background-color: v.$color-hero;
    color: v.$color-white;

    min-height: f.rem(620);
    padding-top: f.rem(60);
    padding-bottom: f.rem(60);
    display: flex;
    align-items: center;

    @include m.mobile {
        min-height: auto;
        padding: f.rem(40) 0;
    }
}

.hero-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: f.rem(80);
    
    @include m.mobile {
        flex-direction: column-reverse; 
        align-items: center;
    }
}

.hero-text-content {
    flex: 1.3;
    min-width: f.rem(300);
    text-align: left;

    .hero-title {
        @include m.text-style(64px, 500, v.$color-white, null, 1.1);

        margin-bottom: f.rem(30);

        @include m.mobile {
            font-size: 32px;
            margin-bottom: f.rem(20);
        }
    }

    .hero-subtitle {
        @include m.text-style(36px, 400, v.$color-white, v.$font-primary);
        margin-bottom: f.rem(15);
        @include m.mobile {
            font-size: 22px;
        }
    }

    .hero-label {
        @include m.text-style(36px, 400, v.$color-white, v.$font-primary);
        letter-spacing: 1px;

        @include m.mobile {
            font-size: 15px;
        }
    }
    .btn, form{
        margin-top: f.rem(10);
        padding: f.rem(18) f.rem(48); 
        @include m.text-style(20px, 500, v.$color-black, v.$font-primary);
        border-radius: f.rem(12);

        @include m.mobile {
            width: 100%;
            margin-top: f.rem(30);
        }
    }
}

.hero-image-wrapper {
    flex: 0.7;
    display: flex;
    justify-content: center;

    img {
        max-width: 180%;
        height: auto;
        transform: translateX(-100px) translateY(30px);

        @include m.mobile {
                max-width: 100%;
                transform: none;
                margin-bottom: f.rem(20);
            }
    }
}

//DETAILS-HERO
.course-hero-section {
    background-color: v.$color-hero;
    color: v.$color-white;
    padding: f.rem(80) 0;

    .course-hero-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: f.rem(60);

        @include m.mobile {
            flex-direction: column;
            gap: f.rem(30);
            text-align: center;
        }
    }

    .course-image {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            border-radius: 12px;
            box-shadow: 0 20px 40px rgba(0,0,0,0.3);
            max-width: f.rem(550); 
        }
    }

    .course-info {
        flex: 1;

        h1 {
            @include m.text-style(64px, 700, v.$color-white, null, 1.2);
            margin-bottom: f.rem(20);

            span {
                color: v.$color-cta;
                display: block;
                margin-top: f.rem(5);
            }

            @include m.mobile { font-size: 32px; }
        }

        p {            
            @include m.text-style(36px, 400, v.$color-white, v.$font-secondary, 1.6);
            max-width: f.rem(650);

            @include m.mobile {
                font-size: 16px;
                margin: 0 auto;
            }
        }
    }
}

//CATALOG HERO
.courses-hero {
    background-color: v.$color-hero; 
    color: v.$color-white;
    padding: f.rem(80) 0;
    margin-bottom: f.rem(30);
    text-align: center;

    .hero-content {
        max-width: f.rem(800);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        @include m.text-style(64px, 600, v.$color-white, v.$font-primary);
        margin-bottom: f.rem(15);
        @include m.mobile { font-size: 32px; }
    }

    .hero-subtitle {
        @include m.text-style(36px, 400, v.$color-white, v.$font-primary);
        opacity: 0.9;
        margin-bottom: f.rem(40);
        @include m.mobile { font-size: 18px; margin-bottom: f.rem(30); }
    }
}