@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.site-header {
    background-color: v.$color-dark; 
    color: v.$color-white;
    height: f.rem(70);
    
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: f.rem(10);
    text-decoration: none;
    color: v.$color-white;
    
    span {
        @include m.text-style(40px, 600, v.$color-white, "Inter");
    }
    svg {
        width: f.rem(52);
        height: f.rem(52);
    }

    @include m.mobile {
        span {
            font-size: f.rem(24);
        }
        svg {
            width: f.rem(26);
            height: f.rem(26);
        }
    }
}

.main-nav {
    display: flex;
    align-items: center;

    .burger-btn {
        display: none;
        background: none;
        border: none;
        padding: 0;
        
        @include m.mobile {
            display: block;
        }
    }

    .nav-list {
        display: flex;
        gap: f.rem(25);
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        .nav-link {
            @include m.text-style(20px, 600, v.$color-white, "Inter");
            transition: color 0.2s ease;
            
            &:hover {
                color: v.$color-cta;
            }
        }

        @include m.mobile {
            display: none;

            &.is-open {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: v.$color-dark;
                padding: f.rem(20);
                gap: f.rem(20);
                box-shadow: 0 10px 20px rgba(0,0,0,0.2);
                border-top: 1px solid rgba(255,255,255,0.1);

                animation: slideDown 0.3s ease-out forwards;
            }

            .nav-link {
                font-size: f.rem(18);
                display: block;
                padding: f.rem(10) 0;
            }

        }
    }
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}